
<!DOCTYPE html>
<html>
<head>
    <title>ClarinetistDoves' Art</title>
	<link rel="stylesheet" href="styles.css"/>
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<script>	
		var app = angular.module('myApp', []);
		app.controller('galleryCtrl', function($scope) {	
			$scope.images=[
				{
					src:"images/art/1.JPG",
					orientation:"p",
					index:0
				},
				{
					src:"images/art/2.JPG",
					orientation:"p",
					index:1
				},
				{
					src:"images/art/3.JPG",
					orientation:"p",
					index:2
				},
				{
					src:"images/art/4.JPG",
					orientation:"p",
					index:3
				},
				{
					src:"images/art/5.JPG",
					orientation:"l",
					index:4
				},
				{
					src:"images/art/6.JPG",
					orientation:"p",
					index:5
				},
				{
					src:"images/art/7.JPG",
					orientation:"l",
					index:6
				},
				{
					src:"images/art/8.JPG",
					orientation:"l",
					index:7
				},
				{
					src:"images/art/9.jpg",
					orientation:"l",
					index:8
				},
				{
					src:"images/art/10.jpg",
					orientation:"p",
					index:9
				}					
			];
			
			$scope.onImageClick =function (imgInfo)
			{
				model.style.display="block";
				enlargedImg.src=imgInfo.src;
				enlargedImg.alt=imgInfo.src;
				if(imgInfo.orientation=="p")
				{
					enlargedImg.style.height="70%";
					enlargedImg.style.width="auto";
				}
				else
				{
					enlargedImg.style.height="auto";
					enlargedImg.style.width="70%";
				}
			}

		});
	</script>

</head>

<body>

	<div id="header">
	  <img src="images/iconb.png" width="80" height="80">
	  <a href="index.html">Home</a>
	  <a class="active" href="art.html">Art</a>
	  <a href="contact.html">Contact</a>
	  <a href="about.html">About</a>
	</div>
	<div id="mainDiv" class="mainDiv">
		<div class="galleryDiv" ng-app="myApp" ng-controller="galleryCtrl">
			<h2 style="color:white">
				MY ART
			</h2>
			<div class="imageDivOuter" ng-repeat="myImage in images">
				<img ng-src="{{myImage.src}}" alt="{{myImage.src}}" ng-click="onImageClick(myImage)"/>
			</div>
		</div>
	<div id="mainDiv" class="mainDiv">	
	
	<div id="myModel" class="model">
		<span class="close" onclick="onCloseClick()">&times;</span>
		<br>
		<img id="enlargedImg" src="images/art/10.jpg"/>
	</div>	

	<!--
	<footer class="footer">
		<p>Posted by: Helen Huang <a href="mailto:huanghehe@yahoo.com">huanghehe@yahoo.com</a>.</p>
	</footer>
	-->
	
	<script>
	var model=document.getElementById("myModel");
	var enlarged=document.getElementById("enlargedImg");
	
	function onCloseClick ()
	{
	model.style.display="none";
		}

	</script>

</body>
</html>